.wayfarer-map-container {
  padding-top: 30px;
  padding-left: 30px;
  height: 800px;

}
.wayfarer-map-container .suggestions {
  color: black;
}

.wayfarer-directions-container {
  padding-top: 30px;
  padding-left: 30px;
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.wayfarer-weather-icon {
  width: 50px;
  height: 50px;
}

.directions-weather-icon {
  height: 100px;
  padding-left: 40%;
}

